body {
    width: 100%;
    margin: 0;
    font-size: 16px;
    background-color: #ffc1c1;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    list-style: none;
    padding: 0;
}
li {
    font-size: 2em;
    color: #ececec;
}
.navigation {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.navigation li {
    margin-top: 10px;
}
.navigation li a:hover {
    border-radius: 50px;
    background: #ffc1c1;
    box-shadow: inset 20px 20px 60px #d9a4a4, inset -20px -20px 60px #ffdede;
}
.navigation li a {
    padding: 10px;
    border-radius: 50px;
    background: #ffc1c1;
    box-shadow: 20px 20px 60px #d9a4a4, -20px -20px 60px #ffdede;
    display: block;
    text-decoration: none;
    color: white;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.block {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    transition: 0.3s ease;
    border-radius: 50px;
    background: #ffc1c1;
    box-shadow: 20px 20px 60px #d9a4a4, -20px -20px 60px #ffdede;
}
.block:hover {
    transform: scale(1.03);
    box-shadow: 30px 30px 70px #d9a4a4, -30px -30px 70px #ffdede;
}
.block:hover img {
    filter: blur(0);
}
img {
    transition: 0.3s ease;
    filter: blur(4px);
}
.btn {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #ffc1c1;
    box-shadow: 20px 20px 60px #d9a4a4, -20px -20px 60px #ffdede;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    border: 1px solid white;
}
.btn:hover {
    background-color: black;
}
.modal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 2s ease;
    z-index: 1000;
}
.modal-content {
    /* background-color: rgb(194, 194, 194);
    border-radius: 30px; */
    width: 60%;
    height: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.65);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.modal-text {
    font-size: 2em;
    color: #ececec;
}
.hidden {
    display: none;
}
.close {
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 2.5em;
    cursor: pointer;
}
h2 {
    width: 100%;
    color: #ececec;
    font-size: 5em;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
/*  */
.text {
    position: relative;
}
.span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.span::before {
    position: absolute;
    top: -20px;
    content: '';
    width: 20px;
    height: 20px;
    background-color: yellow;
    z-index: 0;
    animation: rotate 3s infinite;
}
.button {
    padding: 40px;
    background-color: #ececec34;
    color: white;
    border-radius: 8px;
    border: 1px solid silver;
    cursor: pointer;
    transition: 0.3s ease;
}
.button:hover {
    background-color: white;
    color: black;
}
/*  */
@keyframes scale {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(135deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
